# Terraform
.terragrunt-cache
.terraform
*.auto.tfvars

# AWS Credentials
.aws


# VS Code
*.code-workspace
.history/
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
# recommended extensions
!.vscode/extensions.json

# Jetbrains Idea
.idea

# Generic
.DS_Store
